.btn-return {
  display: flex;
  align-items: center;
  width: 211px;
  height: 55px;
  border: 1px solid $grey-text-main;
  border-radius: 30px;
  opacity: .7;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &__text {
    margin-left: 39px;
  }
  &:hover {
    background-color: black;
    color: #fff;
  }
}