.header {
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo {
  max-width: 450px;
  display: flex;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  &__text {
    color: $grey-text-main;
    line-height: 20px;
  }
  &__text-block {
    padding-left: 15px;
  }
}

  &__line {
  height: 1px;
  width: 100%;
  background-color: rgba($grey-text-main, .1);
  margin: 40px 0;
}

.search{
  position: relative;
  &__input {
  padding: 11px;
  padding-left: 47px;
  border-radius: 30px;
  border: none;

}

}
}


.clear-input-svg {
  position: absolute;
  top: 12px;
  right: 7px;
  opacity: .5;
  fill:rgba(138, 138, 138, 0.655);
  cursor: pointer;
  &:hover {
    fill:rgb(17, 16, 16)
  }
}

.search__svg {
  position: absolute;
  top: 10px;
  left: 8px;
}