.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 13px;
    height: 40px;
    width: 40px;
    border: 1px solid $orange;
    border-radius: 50%;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
    text-align: center;

  }
  &__highlighted {
    background-color: $orange;
  }
  &__arrow {
    height: 40px;
  }
}