@import 'vars';
@import 'reset';
@import 'global';
// Google Fonts: Insert CSS @import
// &display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap&subset=cyrillic-ext");
@import 'pizza';
@import 'header';
@import 'select';



.cart {
  width: 150px;
  height: 50px;
  background-color: $orange;
  border-radius: 30px;
  display: flex;
  align-items: center;

  &__inner {
    display: flex;  
    width: 100%;
    justify-content: space-evenly;
  }

  &__price,
  &__quantity {
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
    color: $white;
    position: relative;
  }
  &__quantity {
    margin-left: 8px;
  }
  &__price {
    &::after {
      position: absolute;
      content: '';
      right: -12px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: rgba($white, .3)
    }
  }
}



.menu {
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
  }
  
}

.order {
  width: 821px;
  margin: 94px auto 0;
  .cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__cart {
      display: flex;
    }
    &__title {
      font-weight: 700;
      font-size: 30px;
      margin-left: 18px;
    }
    &__bin {
      display: flex;
      cursor: pointer;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
    &__bin-text {
      margin-left: 11px;
      line-height: 23px;
    }
  }
  .cart-pizza {
    &__line {
      height: 1px;
      width: 100%;
      background-color: rgba($grey-text-main, .1);
      margin: 40px auto;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__name {
      display: flex;
      align-items: center;
    }
    &__description {
      margin-left: 11px;
    }
    &__img {
      width: 100px;
    }
    &__title {
      font-weight: 700;
      font-size: 22px;
    }
    &__val {
      width: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__num {
      font-weight: 900;
      font-size: 24px;
    }
    &__price {
      font-weight: 700;
      font-size: 24px;
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    &__num-text,
    &__sum-text {
      font-weight: 400;
      font-size: 20px;
    }
    &__quantity {
      font-weight: 700;
      font-size: 20px;
      padding-left: 5px;
    }
    &__sum-cost {
      font-weight: 700;
      color: $orange;
      font-size: 25px;
      padding-left: 5px;
    }   
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
  }

  .btn-pay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 55px;
    background-color: $orange;
    border-radius: 30px;
    color:#fff;
    cursor: pointer;
  }
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin: 30px 0 10px;
    font-weight: 700;
    font-size: 30px;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__img {
    margin-bottom: 70px;
  }
}
.icon {
	display: inline-block;
	color: $grey-text-main;
  width: 20px;
	height: 20px;
	fill: $grey-text-main;
}
.icon-local_pizza {
  width: 45px;
	height: 45px;
  fill: $orange;
}

.cart-order {
  fill: none;
  stroke: $black;
  stroke-width: 2px;
  width: 24px;
	height: 24px;
}

.icon-cancel-circle {
  opacity: .5;
  width: 25px;
	height: 25px;
  &:hover {
    opacity: 1;
  }
}

.icon-plus-first {
  width: 15px;
	height: 15px;
}

.icon-minus,
.icon-plus {
&:hover {
  fill:rgba(138, 138, 138, 0.655)
}
}

.icon-arrow-left2 {
  margin-left: 30px;
}

.btn-return {
  display: flex;
  align-items: center;
  width: 211px;
  height: 55px;
  border: 1px solid $grey-text-main;
  border-radius: 30px;
  opacity: .5;
  cursor: pointer;
  &__text {
    margin-left: 39px;
  }
}


.not-found {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: rgba($grey-text-main, .8);
  padding: 220px 0;
}