body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  overflow-x: hidden;
  min-width: 320px;
  color: $grey-text-main;
}

.wrapper {
  padding: 49px 67px 96px 48px;
  height: 100%;
  border-radius: 20px;
  max-width: 1400px;
  margin: 50px auto;
  background-color: #fffec7;
}